*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
section {
  padding: 120px 0;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
 a {
     text-decoration: none;
 }
 p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 } 
     img {
        display: block;
        max-width: 100%;
     }
 .list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 8px;
 }
 .section-title {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 0;
 }
 /** header */
 .logo {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: flex;
    margin-right: 76px;
 }
 .logo-accent {
    color: #2E2F42;
 }
.site-nav-list .link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
.site-nav-list .link:hover ,
.site-nav-list .link:focus {
    color: #404BBF;
}
address {
    font-style: normal;
}
.contacts-list {
    display: flex;
        align-items: center;
        gap: 40px;
}
.link {
    display: inline-block;
}
.nav-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}
.contacts-nav ul a:hover ,
.contacts-nav ul a:focus {
    color: #404BBF;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.site-nav {
    display: flex;
    align-items: center;
}
.page-header-container {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    
}
.site-nav-list {
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;
    margin-right: 332px;
}
/** Hero */
.hero {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
}
.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}
.hero .button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    
    display: block;
    border: none;
    padding: 16px 32px;
    margin: auto;
    gap: 10px;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    box-shadow: 0 4px 0 4px rgba(0, 0, 0, 0.15);
}
.hero .button:hover ,
.hero .button:focus {
    background-color: #404BBF;
}
/** Advantages */
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
/** Our Team */
.our-team {
    text-align: center;
    background-color: #F4F4FD;
}
.our-team .container .section-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}
.team-list {
display: flex;
    gap: 24px;
}
.our-team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}
.team-information {
    padding: 32px 0;
}
/** Our Portfolio */

.our-portfolio .container .section-title {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-list-border {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
/** footer */
.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer-accent {
    color: #f4f4fd;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    width: 264px;
}
